* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: "Segoe UI", Arial, sans-serif;
}

.green_nav {
    width: 100vw;
    height: 127px;
    background-color: #00A884;
}

.main_container {
    width: 100vw;
    height: calc(100vh - 127px);
    background-color: #E2E0DC;
}

#root {
    width: 80%;
    height: 90vh;
    margin: 0 auto;
    background-color: red;
    position: absolute;
    bottom: 7%;
    left: 0;
    right: 0;
    background-color: #ffffff;
    box-shadow: rgb(0 0 0 / 10%) 0px 6px 18px, rgb(0 0 0 / 10%) 0px 8px 16px 0px;
    border-radius: 4px;
}

.chats_container {
    width: 100%;
    height: 100%;
    display: flex;
}

.contacts {
    width: 35%;
    height: 100%;
}

.my_info {
    width: 100%;
    height: 65px;
    background-color: #EDEDED;
    border-top-left-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.left_myinfo {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right_myinfo {
    width: 30%;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}

.right_myinfo i {
    color: #54656F;
}

.my_info img {
    border-radius: 100%;
    width: 40px;
    margin-left: 10px;
}

.notifications {
    width: 100%;
    min-height: 65px;
    background-color: #9EE1FE;
    display: flex;
    align-items: center;
}

#notify_off {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

}

#notify_off i {
    color: #8EDAFC;
}

.notifications h5 {
    font-size: 13px;
    font-weight: 600;
}

.notifications a {
    color: black;
    font-size: 12px;
}

.search {
    width: 100%;
    height: 55px;
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search i {
    color: #54656F;
}

.search input {
    width: 85%;
    border: 0;
    padding: 7px;
    border-radius: 50px;
    outline: none;
    margin-left: 15px;
}

.list {
    width: 100%;
    height: 100%;
}

.list img {
    width: 50px;
    border-radius: 100%;
    margin-left: 20px;
    margin-right: 10px;
}
.list li {
    list-style: none;
    border-bottom: 1px solid #D7D7D7;
    min-height: 70px;
}
.contact_preview{
    display: flex;
    align-items: center;
}
.c_chat_info {
    width: 70%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}
.user_msg{
    font-size: 11px;
    color: grey;
}
.user_date{
    font-size: 9px;
    color: gray;
    margin-right: 10px;
}
.chats {
    width: 65%;
    height: 100%;
}
.chat_details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EDEDED;
    width: 100%;
    height: 65px;
    border-top-right-radius: 5px;
}
.details_left {
    display: flex;
    width: 70%;
}
.details_right{
    margin-right: 15px;
}
.details_right i{
    margin-left: 15px;
    color: #919191;
    font-size: 16px;
}
.last_login{
    color: gray;
    font-size: 11px;
}
.main_chat {
    display: flex;
    flex-direction: column;
    height: calc(90vh - 130px);
    background-image: url(../img/mine.jpg);
}
.to_send_chat{
    height: 65px;
    background-color: #EDEDED;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 5px;
}
.to_send_chat i {
    margin-inline: 15px;
}
.to_send_chat input {
    width: 85%;
    margin-left: 20px;
    padding: 10px;
    border: 0;
    border-radius: 20px;
    outline: none;
}
.c_active{
    background-color: salmon;

}