<!DOCTYPE html>
<html>

<head>
    <title>Boolzap</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Monoton">
    <link rel="stylesheet" href="./css/app.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav class="green_nav">

    </nav>
    <main>
        <section class="main_container">
            <div id="root">
                <div class="chats_container">
                    <div class="contacts">
                        <div class="my_info">
                            <div class="left_myinfo">
                                <img src="./img/prof_picture.jpg" alt="mypic">

                            </div>
                            <div class="right_myinfo">
                                <a href=""><i class="fa-solid fa-circle-notch"></i></a>
                                <a href=""><i class="fa-solid fa-message"></i></a>
                                <a href=""><i class="fa-solid fa-ellipsis-vertical"></i></a>

                            </div>
                        </div>
                        <div class="notifications">
                            <span id="notify_off"><i class="fa-solid fa-bell-slash"></i></span>
                            <div>
                                <h5>Ricevi notifiche di nuovi messaggi</h5>
                                <a href="">Attiva le notifiche desktop</a>
                            </div>
                        </div>
                        <div class="search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <input type="text" placeholder="Cerca..." v-model="searchBox"
                            @keyup="searchUser">
                        </div>

                        <ul class="list">
                            <li class="contact_preview"
                            v-if="user.visible" 
                            v-for="(user,index) in contacts"
                            :class="cIndex === index ? 'c_active' : '' "
                            @click="setActive(index)"> <!-- PROBABILMENTE DA MODIFICARE -->
                                <img :src="'./img/avatar' + user.avatar + '.jpg'" alt="">      <!-- RICORDATI LO USER -->
                                <div class="c_chat_info">
                                    <span class="user_name"> {{user.name}} </span>
                                    <span class="user_msg"> {{ lastMsg(index).message }} </span>
                                    

                                </div>
                                <div class="user_date">{{lastMsg(index).date}}</div>

                            </li>

                        </ul>

                    </div>
                    <div class="chats">
                        <div class="chat_details">
                            <div class="details_left">
                                <img :src="'./img/avatar' + contacts[cIndex].avatar + '.jpg' " alt="">
                                <div class="c_chat_info">
                                    <span class="user_name">{{contacts[cIndex].name}}</span>
                                    <span class="last_login">Ultimo accesso: {{lastMsg(cIndex).date}}</span>
                                </div>

                            </div>
                            <div class="details_right">
                                <i class="fas fa-search"></i>
                                <i class="fas fa-paperclip"></i>
                                <i class="fas fa-ellipsis-v"></i>
                                
                            </div>
                        </div>
                        <div class="main_chat">
                            <div class="msg" v-for="(messaggio,iMsg) in contacts[cIndex].messages"
                            :class="messaggio.status === 'sent' ? 'msg_sent' : 'msg_received' ">
                                {{messaggio.message}}
                            </div>
                        </div>
                        <div class="to_send_chat">
                            <span><i class="far fa-smile"></i></span>
                            <input @keyup.enter="addMsg" v-model="newMsg" placeholder="Scrivi un messaggio" type="text">
                            <span><i class="fas fa-microphone"></i></span>
                        </div>
                        

                    </div>

                </div>

            </div>
        </section>
    </main>

    <script src="./js/app.js"></script>
</body>

</html>